# =======================
# ENV / SECRETS
# =======================
.env
.env.*
*.env

# =======================
# PYTHON
# =======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# =======================
# VENV
# =======================
.venv/
venv/
env/
ENV/

# =======================
# LOGS
# =======================
*.log

# =======================
# DOCKER
# =======================
docker-compose.override.yml
*.tar
*.pid

# =======================
# IDE / OS
# =======================
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# =======================
# PYTEST / CACHE
# =======================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =======================
# BUILD / DIST
# =======================
build/
dist/
